# .bashrc

if [ -f /etc/bashrc ]; then
     . /etc/bashrc
fi

RESET="\[\017\]"
NORMAL="\[\033[0m\]"
RED="\[\033[31;1m\]"
BLUE="\[\033[34;1m\]"
YELLOW="\[\033[33;1m\]"
WHITE="\[\033[37;1m\]"

PS1="${{ prompt_color | upper }}{{ default_prompt }}$NORMAL"

